{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}

{% block title %}
Password Reset
{% endblock%}

{% block content %}

<section class="reset-password-section text-center">
  <div class="container">
    <h2 class="text-center">Password Reset</h2>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your email address below,<br>
         and we'll send you an email allowing you to reset it.</p>

    <form method="post" action="{% url 'account_reset_password' %}">
      {% csrf_token %}


<div class="form-group login-form">
  {{ form.email.label_tag }}<br>
  <div>
    {{ form.email }}
  </div>

  {% if form.email.errors %}
  <div class="text-danger">{{ form.email.errors }}</div>
  {% endif %}
</div>

<div class="form-group login-form">
  <button type="submit" class="btn btn-primary">
    {% trans "Reset My Password" %}
  </button>
</div>

</section>

{% endblock %}


