/*Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*CSS Variables*/
:root {
  --primary-font: "EB Garamond", serif; /*headings*/
  --secondary-font: "Lato", sans-serif; /*body text */
  --accent-font: "Space Mono", monospace; /*accents for shelf labels, progrssbar, etc*/
  --primary-color: #153526;
  /*dark green*/
  --secondary-color: #d2c09c;
  /*pastel grey yellow*/
  --highlight-color: #586146;
  /*grey green*/
  --light-highlight-color: #9a9d7f;
  /*grey yellow green*/
  --black: black;
  --white: white;
}

body {
  color: var(--highlight-color);
  font-family: var(--primary-font);
  padding-top: 50px; /*Added for nav bar space to not overlap as it is now fixed top*/
  background-color: var(--white);
  max-width: 2000px;
  margin: 0px auto;
}

.bg-image {
  background: url(../images/front-view-books-with-copy-space.jpg) no-repeat 10%
    20% fixed;
  background-size: cover;
  height: 15rem;
  width: auto;
  box-shadow: inset 0 -6px 24px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 42px;
}

h1 {
  color: var(--highlight-color);
  text-align: center;
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

hr {
  color: transparent;
}

.divider {
  border: none;
  border-top: 1.5px solid rgba(0, 0, 0, 0.8); /* or any color */
  margin: 1rem 0;
}

.accent {
  font-family: var(--accent-font);
}

.black {
  color: var(--black) !important;
}

.ul-blank {
  list-style-type: none;
}

.no-decor {
  text-decoration: none;
}

.main-color {
  color: var(--highlight-color);
}

.display-book-cover {
  margin: 0.4rem;
}

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-success {
  color: #0f4e31;
}

.toast-warning {
  color: #dc3545;
}

.toast-error {
  color: #fd7e14;
}

.toast-info {
  color: #0d6efd;
}

/* Base HTML */
/* Nav bar */
.navbar {
  background-color: var(--primary-color) !important;
  z-index: 999;
}

.navbar-toggler {
  border-color: white;
}

.navbar a {
  color: var(--white);
}

.logo {
  width: 40px;
  height: 40px;
}

.active,
.nav-link:focus,
.nav-link:hover,
.navbar-brand:hover {
  color: var(--secondary-color) !important;
}

.user-dropdown > .dropdown-menu {
  left: -77px;
}

.dropdown-menu {
    --bs-dropdown-bg: white;
    --bs-dropdown-border-color: var(--light-highlight-color);
    --bs-dropdown-divider-bg: rgba(0, 0, 0, 0.175);
  }

#searchInput {
  width: 0;
  opacity: 0;
  transition: all 0.4s ease;
  overflow: hidden;
}

#searchInput.search-visible {
  width: 200px;
  opacity: 1;
  padding-left: 3%;
  margin-left: 3%;
}

#searchInput.search-hidden {
  width: 0;
  opacity: 0;
}

.btn-outline-success {
  color: var(--white);
  --bs-btn-border-color: var(--primary-color);
}

/* Only affects search bar dropdown inside #mobile-search */
#mobile-search + .dropdown-menu {
  --bs-dropdown-padding-y: 0rem;
}

#reading-header,
#plan-to-read-header,
#complete-header {
  scroll-margin-top: 80px; /* height of your fixed navbar + a few px */
}

/* Footer */

#footer {
  background-color: var(--primary-color);
  text-align: center;
  font-size: 11px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: max-content;
}

.footer-social-media {
  padding-top: 5px;
  font-size: 17px;
}

.footer-social-media::before {
  color: var(--secondary-color);
  content: "Follow Us";
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  margin-right: 20px;
  white-space: nowrap;
}

.footer-social-media > a {
  color: var(--white);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer-social-media > a:hover {
  color: var(--light-highlight-color);
}

.footer-link-block,
.footer-link-icon-block {
  background-image: url(../static/images/footer-sns-border.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 720px 1px;
  padding-top: 20px;
  color: aqua;
}

.footer-link-block > p > a {
  color: var(--white);
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer-link-block > p > a:hover {
  color: var(--light-highlight-color);
}

.footer-link.home {
  border-right: var(--highlight-color) 1px solid;
  margin-right: 18px;
  padding-right: 20px;
}

.di-ib {
  display: inline-block !important;
}

.di-ib > a {
  padding-right: 5px;
}

.footer-recommended::before {
  color: var(--secondary-color);
  content: "Recommended sites";
  display: inline-block;
  font-size: 11px;
  line-height: 30px;
  margin-right: 20px;
  white-space: nowrap;
}

.icon-recommended:hover {
  color: var(--light-highlight-color);
}

.icon-recommended.icon-waterstone {
  background-image: url(../images/waterstones-logo-vector.png);
  background-size: auto 20px;
}

.icon-recommended.icon-british-library {
  background-image: url(../images/british-library-logo.png);
  background-size: auto 20px;
}

.icon-recommended.icon-awesomebooks {
  background-image: url(../images/awesomebooks-logo.jpg);
  background-size: auto 20px;
}

.icon-recommended {
  color: var(--white);
  font-family: var(--secondary-font);
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 145px 29px;
  cursor: pointer;
  display: inline-flex;
  height: 20px;
  line-height: 1em;
  opacity: 1;
  padding: 4px 26px 0 25px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
}

#copyright {
  padding-top: 1.5rem;
  color: var(--light-highlight-color);
}

/* Base HMTL End */

/* Login/ Signup HTML */

.login-section{
  margin: 2rem 35%;
}

.signup-section {
    margin: 2rem 31%;
}

.login-form {
  margin-bottom: 1rem;
  min-width: 5rem;
}

#login {
  color: var(--primary-color);
}

#login:hover {
  color: var(--white);
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-login-btn-content {
  color: var(--highlight-color) !important;
  fill: var(--black) !important;
  font-family: var(--accent-font) !important;
  height: 52px;
  border: 1px solid #bcbdbe;
  border-radius: 32px;
  text-decoration: none;
}

.social-login-btn-content:hover {
  background-color: #e7e7e7;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  color: var(--black) !important;
}

.social-login-btn-content > img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.social-login > ul > li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Log in END */

/* Index HTML */

.index-greeting {
  font-size: 1.5rem;
  color: var(--black);
  padding-top: 1rem;
}

.shelves-link-text {
  color: var(--black);
  text-decoration: none;
  text-align: center;
  font-family: var(--secondary-font);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.shelves-link-text:hover {
  color: var(--light-highlight-color);
  text-decoration: underline;
}

.display-books > img {
  height: 13rem;
  width: auto;
  padding-right: 2rem;
}

.display-books {
  color: var(--black);
  text-decoration: none;
  text-align: center;
}

.featured-books {
  min-width: 10em;
  max-width: 10em;
}

.unauth-books {
  padding-top: 1rem;
}

.current-books-text {
  padding-right: 32px;
}

.join-us {
  width: 18rem;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 0.5rem;
}

.join-gold {
  color: var(--highlight-color);
}

.join-green {
  color: var(--primary-color);
}

.join-gold:hover {
  color: var(--secondary-color);
  background-color: var(--highlight-color);
}

.join-green:hover {
  color: var(--black);
  background-color: var(--light-highlight-color);
}

#promo {
  color: var(--light-highlight-color);
  font-size: 1.5rem;
}

.reviews {
  border: transparent;
}
/* End Index HTML */

/* Book Details HTML */

#book-cover {
  height: 25rem;
  width: auto;
}

.book-recs > img {
  height: 13rem;
  width: auto;
  padding-right: 0.25rem;
}

.book-recs {
  color: var(--black);
  text-decoration: none;
  text-align: center;
}

.Sticky {
  z-index: 1;
  position: sticky;
  top: 100px;
  height: fit-content;
}
.book-details,
.other-books {
  margin-top: 2rem;
}

.card-link {
  cursor: pointer;
}

.star_rating select {
  width: 12.2rem;
}

#reviews {
  padding-top: 1.5rem;
}

#reviews > h5 > a {
  color: var(--highlight-color);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

#reviews > h5 > a:hover {
  color: var(--light-highlight-color);
}

#leave-a-review {
  margin-left: 2rem;
}

#leave-a-review textarea {
  width: 85%;
  padding: 1rem;
  font-size: 1rem;
  box-sizing: content-box;
  height: 115px;
  border-radius: 35px;
}

/* End Book_details HTML */

/* Library HTML */

#my-library-header {
  height: 11.9rem;
  padding-top: 52px;
  margin-top: 41px;
  background-position-x: 14%;
}

.overlay {
  position: absolute;
  top: 90px;
  left: 0;
  height: 0%;
  width: 100%;
  background: rgba(255, 255, 255, 0.23);
}

#bookTabs > li > a {
  color: var(--primary-color);
}

.section-header {
  margin-top: 2rem;
}

.my-library-tab > .active,
.my-library-tab > .nav-link:hover {
  color: var(--highlight-color) !important;
}

.library-book-cover > div > .img-fluid {
  max-width: 40%;
}

.library-book-details > p {
  line-height: 0.6rem;
}

.list-books {
  min-width: 5em;
  max-width: 5em;
}

.library-book-details {
  max-width: 34em;
}

.library-book-details > a {
  color: var(--highlight-color);
  text-decoration: none;
}

/* End Library HTML */

/* Changes settings below 619 px (Small) */
@media screen and (max-width: 619px) {
  .icon-recommended {
    padding: 4px 18px 0 39px;
  }

  .bg-image {
    background: url(../images/front-view-books-with-copy-space.jpg) no-repeat
      22% center fixed;
    background-size: cover; /* fills space and crops overflow */
    height: fit-content;
  }

  .overlay {
    position: absolute;
    top: 90px;
    left: 0;
    height: 22%;
    width: 100%;
    background: rgba(163, 163, 163, 0.1);
  }

  #my-library-header {
    height: fit-content;
  }

  .display-books > img {
    padding-right: 1rem;
  }
  #books-to-read {
    margin-left: 1rem;
  }

  .library-book-details {
    margin-top: 2rem;
    margin-left: 29%;
    max-width: 16em;
  }

  .library-book-cover {
    margin-top: 2rem;
  }

 .login-section, .signup-section  {
    margin: 2rem 18% !important;
  }
}

/* Changes settings below 768px (medium) */
@media screen and (max-width: 768px) {
  .Sticky {
    z-index: 0;
    position: static;
    top: 100px;
    height: fit-content;
  }

  .bg-image {
    background: url(../images/front-view-books-with-copy-space.jpg) no-repeat
      20% center fixed;
    background-size: cover; /* fills space and crops overflow */
    height: fit-content;
  }

  #my-library-header {
    height: fit-content;
}

  .library-book-details {
    margin-top: 2rem;
    margin-left: 14%;
    margin-right: auto;
    min-width: 16em;
  }

  .library-book-cover {
    margin-top: 2rem;
  }

  .library-book-cover > div > .img-fluid {
    max-width: 30%;
  }

  .login-section, .signup-section {
    margin: 2rem 30%;
  }
}

/* Changes settings below 992px (large) */
@media screen and (max-width: 992px) {
}

/* Changes settings below 1200px (extra large) */
@media screen and (max-width: 1200px) {
}

/* delete */
/* .space{
  border: solid 2px;
} */
