{% load static %}      
      <nav id="mobileNav" class="navbar navbar-expand-lg bg-body-tertiary fixed-top d-block d-lg-none" data-bs-theme=dark>
        <div class="container-fluid">
          <a class="navbar-brand logo" href="{% url 'index' %}">
            <img
              class="logo"
              src="{% static 'images/little-library-logo.jpg' %}"
              alt="Little Library">
          </a>
          <a class="navbar-brand" href="{% url 'index' %}">Little Library</a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Home -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>

              <!-- My Library Dropdown -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  My Library
                </a>
                <ul class="dropdown-menu">
                   <li><a class="dropdown-item black" href="{% url 'my_library' %}#reading-header">Reading</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item black" href="{% url 'my_library' %}#plan-to-read-header">Plan to read</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item black" href="{% url 'my_library' %}#complete-header">Complete</a>
                  </li>
                </ul>
              </li>

              <!-- Donation button -->
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'donations' %}">Donate</a>
            </li>

              <!-- Account Dropdown -->
              <li class="nav-item dropdown user-dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="{% url 'index' %}"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  My Account
                </a>
                <ul class="dropdown-menu">
                  {% if request.user.is_authenticated %}
                  <li><a href="{% url 'my_library' %}#reading-header" class="dropdown-item black">My Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a href="{% url 'account_change_password' %}" class="dropdown-item black">Change Password</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a
                      class="dropdown-item black"
                      href="{% url 'account_logout' %}"
                      >Logout</a
                    >
                  </li>
                  {% else %}
                  <li>
                    <a
                      href="{% url 'account_login' %}"
                      class="dropdown-item black"
                      >Login</a
                    >
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a
                      href="{% url 'account_signup' %}"
                      class="dropdown-item black"
                      >Register</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </li>
              
              <!-- Mobile Search -->
              <li class="nav-item">
                <a class="nav-link" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search"></i> Search
                </a>
                <div class="dropdown-menu border-0 w-100 rounded-0" aria-labelledby="mobile-search">
                  <form id="mobileSearchForm" class="position-relative" role="search" autocomplete="off">
                    <input id="mobileSearchInput" class="form-control border border-black rounded-0 mb-2" type="text"
                      placeholder="Search for books...">
                    <div id="mobileSearchResults" class="list-group position-absolute w-100"></div>
                  </form>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>