/*Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*CSS Variables*/
:root {
  --primary-font: "EB Garamond", serif;
  --secondary-font: "Lato", sans-serif;
  --accent-font: "Space Mono", monospace;
  --primary-color: #153526;
  /*dark green*/
  --secondary-color: #d2c09c;
  /*pastel grey yellow*/
  --highlight-color: #586146;
  /*grey green*/
  --light-highlight-color: #9a9d7f;
  /*grey yellow green*/
  --black: black;
  --white: white;
}

body {
  color: var(--highlight-color);
  background-color: var(--white);
  padding-top: 57px; /*Added for nav bar space to not overlap as it is now fixed top*/
  margin: 0;
}

h1,h2,h3 {
  color: var(--highlight-color);
  text-align: center;
  font-family: var(--primary-font);
}

p{
      font-family: var(--secondary-font);
}

.accent {
  font-family: var(--accent-font);
}
