{% extends "base.html" %}
{% load static %}

{% block title %}
Book Details | {{ book.title }}
{% endblock%}

{% block content %}
<main class="container text-center">
  <!-- Books cover -->
  <div class="text-center pt-5 space">
    <div class="row">
      <div class="col-12 col-lg-3 space Sticky">
        <img 
          src="{{ book.cover_image_url }}"
          class="img-fluid"
          alt="{{ book.title }}"
          />
          <br>
          
        <div class="btn-group">
          <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"aria-expanded="false">
          Add to list
          </button>
                                  <ul class="dropdown-menu">
                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#planModal{{ book.id }}">Plan To Read</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#completeModal{{ book.id }}">Complete</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#readingModal{{ book.id }}">Reading</a></li>
                        </ul>
        </div>
        <br>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#leaveAReview">
  Leave a review
</button>
      </div>
      <!-- Books details -->
      <div class="space col-12 col-lg-6 text-start">
        <div class="book-details">
          <h1 class="text-start">{{ book.title }}</h1>
          <p class="">{{ book.author }}</p>
          {% if avg_rating %}
            <p>{{ avg_rating|floatformat:1 }}/5 <i class="fa-solid fa-star"></i> ({{ review_count }} reviews)</p>
          {% else %}
            <p>No rating yet</p>
          {% endif %}
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <small>Genre:
              {% for g in book.genre.all %}
              {{ g.name }}{% if not forloop.last %}, {% endif %}
              {% empty %}
              None
              {% endfor %}
            </small>
            <small>Published - {{ book.published }}</small>
          </div>
          <p>
            {{ book.description }}
          </p>
        </div>
          {% if book_reviews %}
        <div class="reviews">
          {% for review in book_reviews %}
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">{{ review.user.username }}</h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                {{ review.review_title }} <span class="accent"> {{ review.star_rating }}/5 <i class="fa-solid fa-star"></i></span>
              </h6>
              <p class="card-text">
                {{ review.review_body }}
              </p>
              {% if request.user.is_authenticated %}
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div id="reviews">
          <h5 class="text-center">There are no reviews for this book. <a href="{% url 'account_login' %}" data-bs-toggle="modal" data-bs-target="#leaveAReview">Be the first!</a></h5>
        </div>
        {% endif %}

      </div>
      <div class="space col-12 col-lg-3 other-books">
        <h2>Books this week</h2>
      {% for book in other_books %}
    <a type="button" href="{% url 'book_details' book.slug %}" class="book-recs text-center col mt-3" data-bs-container="body" data-bs-toggle="popover"
      data-bs-placement="top" data-bs-content="{{ book.title }}" data-bs-trigger="hover focus">
      <img src="{{ book.cover_image_url }}" alt="{{ book.title }}" class="display-book-cover featured-books">
    </a>
    {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}


{% block modals %}
<!-- Move to Complete List Modal -->
<div class="modal fade" id="completeModal{{ book.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add {{ book.book.title }} to <strong>Completed</strong>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to add this book to <strong>Completed</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="POST" action="{% url 'add_tracker' book.id %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="1">
                    <button type="submit" class="btn btn-danger">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Move to Plan to Read List Modal -->
<div class="modal fade" id="planModal{{ book.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add {{ book.book.title }} to <strong>Plan to Read</strong>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to add this book to <strong>Plan to Read</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="POST" action="{% url 'add_tracker' book.id %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="2">
                    <button type="submit" class="btn btn-danger">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Move to Reading List Modal -->
<div class="modal fade" id="readingModal{{ book.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add {{ book.book.title }} to <strong>Reading</strong>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to add this book to <strong>Reading</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="POST" action="{% url 'add_tracker' book.id %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="0">
                    <button type="submit" class="btn btn-danger">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Review Modal -->
<div class="modal fade" id="leaveAReview" tabindex="-1" aria-labelledby="leaveAReview" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="leaveAReview">Leave a review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Review area -->
      <div class="modal-body my-1">
        <div id="leave-a-review" >
        <form method="POST" action="{% url 'add_review' book.id %}">
          {% csrf_token %}

          <!-- Review Title -->
          <div class="review-title my-2">
            <label for="review_title">Review Title:</label>
            <input type="text" name="review_title" name="review_title" id="review_title" placeholder="Required..">
          </div>

          <!-- Review rate -->
          <div class="star_rating my-3">
            <label for="star_rating">Star Rating:</label>
            <select name="star_rating" id="star_rating">
              <option value="" disabled selected>Select a rating <i class="fa-solid fa-star"></i></option>
              <option value="0">(0) Appauling</option>
              <option value="1">(1) Very Bad</option>
              <option value="2">(2) Bad</option>
              <option value="3">(3) Average</option>
              <option value="4">(4) Very Good</option>
              <option value="5">(5) Amazing</option>
            </select>
          </div>

          <!-- Review textarea -->
          <div class="review_body my-3">
            <label for="review_body" class="visually-hidden">Review</label>
            <textarea name="review_body" id="review_body" required placeholder="Write a review here..."></textarea>
          </div>


          <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit Review</button>
      </div>
        </form>
          




        </div>
      </div>
      </div>
    </div>
</div>
{% endblock %}