{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="container text-center">
  <!-- Books cover -->
  <div class="text-center pt-5 space">
    <div class="row">
      <div class="col-3 space Sticky">
        <img 
          src="{{ book.cover_image_url }}"
          class="img-fluid"
          alt="{{ book.title }}"
          />
        <div class="btn-group">
          <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Add to list
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Plan To Read</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Reading</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Complete</a></li>
          </ul>
        </div>
      </div>
      <!-- Books details -->
      <div class="space col-6 text-start">
        <div class="book-details">
          <h1 class="text-start">{{ book.title }}</h1>
          <p class="">{{ book.author }}</p>
          {% if review in reviews %}
          <p>{{ review.star_rating }}/5 <i class="fa-solid fa-star"></i></p>
          {% else %}
          <p>No rating</p>
          {% endif %}
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <small>Genre:
              {% for g in book.genre.all %}
              {{ g.name }}{% if not forloop.last %}, {% endif %}
              {% empty %}
              None
              {% endfor %}
            </small>
            <small>Published - {{ book.published }}</small>
          </div>
          <p>
            {{ book.description }}
          </p>
        </div>
          {% if book_reviews %}
        <div class="reviews">
          {% for review in book_reviews %}
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">{{ review.user.username }}</h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                {{ review.review_title }} <span class="accent"> {{ review.star_rating }}/5 <i class="fa-solid fa-star"></i></span>
              </h6>
              <p class="card-text">
                {{ review.review_body }}
              </p>
              {% if request.user.is_authenticated %}
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div id="reviews">
          <h5 class="text-center">There are no reviews for this book. <a href="{% url 'account_login' %}">Be the first!</a></h5>
        </div>
        {% endif %}

      </div>
      <div class="space col-3">
        <h2>Books this week</h2>
      {% for book in other_books %}
    <a type="button" href="" class="book-recs text-center col mt-3" data-bs-container="body" data-bs-toggle="popover"
      data-bs-placement="top" data-bs-content="{{ book.title }}" data-bs-trigger="hover focus">
      <img src="{{ book.cover_image_url }}" alt="{{ book.title }}" class="display-book-cover featured-books">
    </a>
    {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}