{% extends "base.html" %}
{% load static %}

      {% block extra_header %}
      <!-- Header with user info -->
      <div class="text-center pt-1">
        <h1>Welcome to Little Library</h1>
        <p>Your hub for the world of books</p>

        <!-- User name greeting -->
        <p class="index-greeting">Welcome back <a href="" class="no-decor main-color accent">Username</a>, Let's catch up on your progress!</p>
      </div>
      {% endblock %}

    {% block content %}
    <main class="container text-center my-2">
      <!-- Books to read this week carasol -->
      <section class="books-row row-cols-auto py-3 text-center" id="bookshelves">
        <h2>Bookselves</h2>
        <a href="" class="shelves-link-text p-3"><span class="accent">1</span> Reading</a>
        <a href="" class="shelves-link-text p-3"><span class="accent">76</span> Read</a>
        <a href="" class="shelves-link-text p-3"><span class="accent">12</span> Plan to Read</a>
      </section>

          <!-- Current books user is reading -->
    <section class="books-row row-cols-auto" id="current-books">
      <a href="" class="no-decor main-color">  <h2>In Progress</h2> </a>


        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="" alt="...">                 <div class="card-body">
    <p class="card-text accent current-books-text progress-bar-animated">77% Complete
    </p>
         </div> 
        </a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="...">                 <div class="card-body">
    <p class="card-text accent current-books-text">77% Complete
    </p>
         </div> 
        </a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="...">                 <div class="card-body">
    <p class="card-text accent current-books-text">77% Complete
    </p>
         </div> 
        </a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="...">                 <div class="card-body">
    <p class="card-text accent current-books-text">77% Complete
    </p>
         </div> 
        </a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="...">                 <div class="card-body">
    <p class="card-text accent current-books-text">77% Complete
    </p>
         </div> 
        </a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="...">                 <div class="card-body">
    <p class="card-text accent current-books-text">77% Complete
    </p>
         </div> 
        </a>
        
    </section>

    <!-- Books to read this week carasol -->
    <section class="books-row row-cols-auto pt-5" id="books-to-read">
        <a href="" class="no-decor main-color"><h2>Books this week</h2></a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="..."></a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="..."></a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="..."></a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="..."></a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="..."></a>
        <a type="button" class="display-books col" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="The Dead Husband Cookbook" data-bs-trigger="hover focus" ><img src="../static/images/books/book-cover-1.jpg" class="img-fluid rounded-start" alt="..."></a>
        </section>
    </main>
    {% endblock %}
    
    {% block postloadjs %}
    <!-- Bootstraps Javascript Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- My JS -->
     <script src="static/js/script.js"></script>
      <!-- FontAwesom link -->
    <script src="https://kit.fontawesome.com/9e540e0242.js" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>