{% extends "base.html" %}
{% load static %}
{% block header %}
      <header class="space container text-center py-5">
        <h1>My Library</h1>
        <p>The currently reading list</p>

                    <div>
              <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Reading</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Plan to Read</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Complete</a>
                </li>
              </ul>
            </div>
      </header>
{% endblock %}

{% block content %}
    <main class="container text-center">
        <!-- Header with user info -->
    
    
        <!-- Library books section -->
        <!-- Reading Section -->
        <section class="space container" id="reading-section">
    
            <div class="row space">
                <!-- Reading Section header -->
                <div class="section-header space">
                    <h2 id="reading-header">Reading</h2>
                    <p>The currently reading list</p>
    
                    <hr class="divider">
                </div>
                <div class="library-body space row">
                    <!-- Book Cover -->
                    <div class="library-book-cover space col-3">
                        <div class="">
                            <img src="../media/books/book-cover-1.jpg" class="img-fluid" alt="..." />
                        </div>
                    </div>
    
                    <!-- Books details -->
                    <div class="library-book-details space col-6 text-start">
                        <h3 class="text-start">The Dead Husband Cookbook</h3>
                        <p class="">Author name</p>
                        <p><small>Genre: Young Adult</small></p>
                        <p><small>Published - (1993)</small></p>
                    </div>
    
                    <!-- Edit/Delete section -->
                    <div class="library-book-edit col-3 space row align-items-center">
                        <div class="btn-group align-items-center">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Update list
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Plan To Read</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Complete</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider">
        </section>
        <!-- Plan to read Section header -->
        <section>
    
            <div class="row space">
                <!-- Reading Section header -->
                <div class="section-header space">
                    <h2 id="plan-to-read-header">Plan to Read</h2>
                    <p>The currently Plan to Read list</p>
    
                    <hr class="divider">
                </div>
                <div class="library-body space row">
                    <!-- Book Cover -->
                    <div class="library-book-cover space col-3">
                        <div class="">
                            <img src="../media/books/book-cover-1.jpg" class="img-fluid" alt="..." />
                        </div>
                    </div>
    
                    <!-- Books details -->
                    <div class="library-book-details space col-6 text-start">
                        <h3 class="text-start">The Dead Husband Cookbook</h3>
                        <p class="">Author name</p>
                        <p><small>Genre: Young Adult</small></p>
                        <p><small>Published - (1993)</small></p>
                    </div>
    
                    <!-- Edit/Delete section -->
                    <div class="library-book-edit col-3 space row align-items-center">
                        <div class="btn-group align-items-center">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Update list
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Reading</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Complete</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider">
        </section>
    
        <!-- Complete Section header -->
        <section>
    
            <div class="row space">
                <!-- Reading Section header -->
                <div class="section-header space">
                    <h2 id="complete-header">Complete</h2>
                    <p>The currently complete list</p>
    
                    <hr class="divider">
                </div>
                <div class="library-body space row">
                    <!-- Book Cover -->
                    <div class="library-book-cover space col-3">
                        <div class="">
                            <img src="../media/books/book-cover-1.jpg" class="img-fluid" alt="..." />
                        </div>
                    </div>
    
                    <!-- Books details -->
                    <div class="library-book-details space col-6 text-start">
                        <h3 class="text-start">The Dead Husband Cookbook</h3>
                        <p class="">Author name</p>
                        <p><small>Genre: Young Adult</small></p>
                        <p><small>Published - (1993)</small></p>
                    </div>
    
                    <!-- Edit/Delete section -->
                    <div class="library-book-edit col-3 space row align-items-center">
                        <div class="btn-group align-items-center">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Update list
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Reading</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Plan to Read</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider">
        </section>
    </main>
{% endblock %}