{% extends "base.html" %}
{% load static %}

{% block title %}
My Notes
{% endblock%} 

{% block header %}
      <header class=" bg-image" id="my-library-header">
        <h1>My Library</h1>
        <p>The currently reading list</p>

            <div>
              <ul class="nav nav-tabs justify-content-center" id="bookTabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#reading-header"
                    >Reading</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#plan-to-read-header">Plan to Read</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#complete-header">Complete</a>
                </li>
              </ul>
            </div>
      </header>
{% endblock %}

{% block content %}
    <main class="container text-center">
        <!-- Header with user info -->
    
    
        <!-- Library books section -->
        <!-- Reading Section -->
        <section class="space container" id="reading-section">
    
            <div class="row space">
                <!-- Reading Section header -->
                <div class="section-header space">
                    <h2 id="reading-header">Reading</h2>
                    <p>The currently reading list</p>
    
                </div>
                {% if reading_books %}
                {% for book in reading_books %}
                <hr class="divider">
                <div class="library-body space row">
                    <!-- Book Cover -->
                    <div class="library-book-cover space col-3">
                        <div class="">
                            <img src="{{ book.book.cover_image_url }}"
                                    class="img-fluid list-books"
                                    alt="{{ book.book.title }}" />
                        </div>
                    </div>
    
                    <!-- Books details -->
                    <div class="library-book-details space col-6 text-start">
                        <h3 class="text-start">{{ book.book.title }}</h3>
                        <p class="">{{ book.book.author }}</p>
                        <p><small>Genre:
              {% for g in book.genre.all %}
              {{ g.name }}{% if not forloop.last %}, {% endif %}
              {% empty %}
              None
              {% endfor %}
            </small></p>
                        <p><small>Published - {{ book.book.published }}</small></p>
                    </div>
    
                    <!-- Edit/Delete section -->
                    <div class="library-book-edit col-3 space row align-items-center">
                        <div class="btn-group align-items-center">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Update list
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Plan To Read</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Complete</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}
            {% else %}
            <hr class="divider">
            <p class="accent"> No books have been added yet. </p>
            <hr class="divider">
            {% endif %}
        </section>
        <!-- Plan to read Section header -->
        <section>
    
            <div class="row space">
                <!-- Reading Section header -->
                <div class="section-header space">
                    <h2 id="plan-to-read-header">Plan to Read</h2>
                    <p>The currently Plan to Read list</p>
    
                </div>
                {% if plan_books %}
                {% for book in plan_books %}
                <hr class="divider">
                <div class="library-body space row">
                    <!-- Book Cover -->
                    <div class="library-book-cover space col-3">
                        <div class="">
                            <img src="{{ book.book.cover_image_url }}"
                                    class="img-fluid list-books"
                                    alt="{{ book.book.title }}" />
                        </div>
                    </div>
    
                    <!-- Books details -->
                    <div class="library-book-details space col-6 text-start">
                        <h3 class="text-start">{{ book.book.title }}</h3>
                        <p class="">{{ book.book.author }}</p>
                        <p><small>Genre:
              {% for g in book.genre.all %}
              {{ g.name }}{% if not forloop.last %}, {% endif %}
              {% empty %}
              None
              {% endfor %}
            </small></p>
                        <p><small>Published - {{ book.book.published }}</small></p>
                    </div>
    
                    <!-- Edit/Delete section -->
                    <div class="library-book-edit col-3 space row align-items-center">
                        <div class="btn-group align-items-center">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Update list
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Plan To Read</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Complete</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
                        {% else %}
                        <hr class="divider">
            <p class="accent"> No books have been added yet. </p>
            <hr class="divider">
            {% endif %}
        </section>
    
        <!-- Complete Section header -->
        <section>
    
            <div class="row space">
                <!-- Reading Section header -->
                <div class="section-header space">
                    <h2 id="complete-header">Complete</h2>
                    <p>The currently complete list</p>
    
                </div>
                {% if completed_books %}
                {% for book in completed_books %}
                <hr class="divider">
                <div class="library-body space row">
                    <!-- Book Cover -->
                    <div class="library-book-cover space col-3">
                        <div class="">
                            <img src="{{ book.book.cover_image_url }}"
                                    class="img-fluid list-books"
                                    alt="{{ book.book.title }}" />
                        </div>
                    </div>
    
                    <!-- Books details -->
                    <div class="library-book-details space col-6 text-start">
                        <h3 class="text-start">{{ book.book.title }}</h3>
                        <p class="">{{ book.book.author }}</p>
                        <p><small>Genre:
              {% for g in book.genre.all %}
              {{ g.name }}{% if not forloop.last %}, {% endif %}
              {% empty %}
              None
              {% endfor %}
            </small></p>
                        <p><small>Published - {{ book.book.published }}</small></p>
                    </div>
    
                    <!-- Edit/Delete section -->
                    <div class="library-book-edit col-3 space row align-items-center">
                        <div class="btn-group align-items-center">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Update list
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Plan To Read</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Complete</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
                        {% else %}
                        <hr class="divider">
            <p class="accent"> No books have been added yet. </p>
            <hr class="divider">
            {% endif %}
        </section>
    </main>

{% endblock %}